.customRow {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: #bbeffd;
  border: 1px solid #61dafb;
}

.customButton {
  min-width: 25%;
}

.customCard {
  text-align: center;
}

.customWrapper {
  margin-bottom: 75px;
}

@media (min-width: 0px) and (max-width: 435px) {
  .customCardSize {
    max-width: 10rem;
  }
}
